{% extends './layout.html' %}
{% block title %}Show Product{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Show User</h1>
        <a href="{% url 'products:index' %}">Home</a>
    </div>
    <div class="row">
        <div class="col-3">{{ product_name }}</div>
        <div class="col-3">${{ price }}</div>
        <div class="col-3">{{ description }}</div>
        <div class="col-3">{{ request.session.products }}</div>
        <!-- <div class="col-3">{{ request.session.users }}</div> -->
    </div>
</div>

{% endblock %}